<p>Task Board</p>
<button (click)="taskService.unsetSelectedTask()">clear Selection</button>
@if(taskService.selectedTask()){
<p>selected Task: {{taskService.selectedTask()?.title}}</p>
}
<pl-task-edit></pl-task-edit>
<div class="columnContainer">
  <pl-task-column [containedState]="1"></pl-task-column>
  <pl-task-column [containedState]="2"></pl-task-column>
  <pl-task-column [containedState]="3"></pl-task-column>
  <pl-task-column [containedState]="4"></pl-task-column>
  <pl-task-column [containedState]="5"></pl-task-column>
  <pl-task-column [containedState]="6"></pl-task-column>
</div>
